
@{
    ViewBag.Title = "xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h3>Qúy Khách đã đặt thành công đơn hàng.
    Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </h3>
    <div>
        <i class="fas fa-arrow-left" style="margin-right: 10px"></i>
        <a href="@Url.Action("Index","Home")" style="text-decoration:underline"> Back to Home</a>
    </div>
</div>
